    .promo {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    }
    
    .promo {
        background: url(img/bg-deschis.png) repeat-x;
        background-size: 100%;
        color: #fff;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    }