/*Time for the CSS*/
* {margin: 0; padding: 0;}

.slider{
	width: 80%; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 1100px; /*That helps bring the labels down*/
	padding-bottom: 100px;
	margin: 100px auto;
	
	/*Lets add a shadow*/
	box-shadow: -10px -10px 30px 10px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img , .slider>div{
	position: absolute;
	 top: 0;
	 left:0;
	
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	margin-bottom:auto;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.7;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img, .slider input[name='slide_switch'] ~ div {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
.slider input[name='slide_switch']:slider {
	padding-top:500px!important;
}
.slider input[name='slide_switch']:checked+label+div {
	opacity: 1;
	transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/

/*We are done :)*/
@media screen and (max-width: 1200px) and (min-width: 1000px)
{
	.slider{
		padding-top: 1200px!important;
	}
}
@media screen and (max-width: 999px) and (min-width: 870px)
{
	.slider{
		padding-top: 1250px!important;
	}
}
@media screen and (max-width: 869px) and (min-width: 855px)
{
	.slider{
		padding-top: 1320px!important;
	}
}
@media screen and (max-width: 854px) and (min-width: 800px)
{
	.slider{
		padding-top: 1450px!important;
	}
}
@media screen and (max-width: 799px) and (min-width: 775px)
{
	.slider{
		padding-top: 1450px!important;
	}
}
@media screen and (max-width: 799px) and (min-width: 775px)
{
	.slider{
		padding-top: 1450px!important;
	}
}
@media screen and (max-width: 774px) and (min-width: 769px)
{
	.slider{
		padding-top: 1600px!important;
	}
}
@media screen and (max-width: 768px) and (min-width: 700px)
{
	.slider{
		padding-top: 1700px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 699px) and (min-width: 650px)
{
	.slider{
		padding-top: 1750px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 649px) and (min-width: 585px)
{
	.slider{
		padding-top: 1800px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 584px) and (min-width: 560px)
{
	.slider{
		padding-top: 1870px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 559px) and (min-width: 536px)
{
	.slider{
		padding-top: 1870px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 535px) and (min-width: 500px)
{
	.slider{
		padding-top: 1950px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 499px) and (min-width: 485px)
{
	.slider{
		padding-top: 2020px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 484px) and (min-width: 474px)
{
	.slider{
		padding-top: 2150px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 473px) and (min-width: 462px)
{
	.slider{
		padding-top: 2150px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 461px) and (min-width: 453px)
{
	.slider{
		padding-top: 2250px!important;
		line-height: 20px;
	}
}
@media screen and (max-width: 452px) and (min-width: 430px)
{
	.slider{
		padding-top: 2350px!important;
		line-height: 20px!important;
	}
}