.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.line-height-36 {
    line-height: 36px;
}

.line-height-50{
    line-height:50px;
}
.header-font {
    color: rgb(0, 235, 217)!important;
    font-weight: 600;
}

#under-video {
    text-align: center;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.align-justify-centered {
    text-align: justify;
    text-align-last: center;
}

#title-bitter {
    font-family: 'Bitter'!important;
}
.left15{
    left:15px;
}
.left10{
    left:10;
}