html,
body {
  margin: 0;
  width: 100%;
  font-family: 'Encode Sans';
  padding: 0;
  overflow-x: hidden;
}

.row {
  margin: 0;
  &__section {
    padding: 60px 0;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    &--bg-deschis {
      background-image: url('../build/img/bg-deschis.png');
    }
    &--bg-inchis {
      background-image: url('../build/img/bg-inchis.png');
    }
    &--bottom {
      padding-bottom: 0;
    }
    &--top-negative-margin {
      margin-top: -100px;
      @include omb-breakpoint('phone') {
        margin-top: 0;
      }
    }
    &__competitive {
      overflow: hidden;
      &__img {
        height: 100%;
        &__container {
          opacity: 0.8;
          @include omb-breakpoint('to-tablet') {
            left: 0;
          }
          &--left {
            vertical-align: baseline;
            position: relative;
            right: -15%;
            @include omb-breakpoint('phone') {
              display: none;
            }
          }
          &--right {
            vertical-align: baseline;
            position: relative;
            left: -15%;
            line-height: 0 !important;
            @include omb-breakpoint('phone') {
              max-width: 100%;
              flex-basis: 100%;
              left: unset;
              display: flex;
              justify-content: center;
            }
          }
          &--center {
            @include omb-breakpoint('phone') {
              max-width: 100% !important;
              flex-basis: 100%;
            }
          }
        }
      }
    }
    &__header {
      padding-bottom: 70px;
      min-height: 100vh;
      position: relative;
      &__content {
        height: 100% ;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        padding-top: 120px;
        @include omb-breakpoint('phone') {
          position: relative;
          padding-top: 0;
        }
        .row {
          width: 100%;
        }
      }
    }
    &__tickets {
      &__text {
        @include omb-breakpoint('phone') {
          > div {
            max-width: 100%;
            flex-basis: 100%;
          }
        }
      }
    }
    &__competitive-games {
      padding-top: 150px;
      &__main-img {
        max-width: 90%;
        @include omb-breakpoint('phone') {
          display: none;
        }
        &--mobile {
          display: none;
          max-width: 85%;
          margin: 0 auto;
          @include omb-breakpoint('phone') {
            display: block;
          }
        }
      }
    }
    &__event-description {
      z-index: 75;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      #mobile-shit {
        display: none;
        .mobile-image {
          width: 100%;
        }
        @include omb-breakpoint('to-tablet') {
          display: flex;
          justify-content: center;
        }
      }
      #shit-heroes {
        width: 100%;
        .main-img {
          transform: rotate(-3deg);
          margin-bottom: -35px;
        }
        @include omb-breakpoint('to-tablet') {
          display: none;
        }
      }
      &__image-container {
        flex: 1;
      }
      &__info {
        flex: 1;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          text-align: center;
          max-width: 450px;
        }
      }
    }
    &__fun {
      .row-map {
        flex-wrap: unset !important;
      }
      .row:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include omb-breakpoint('to-tablet') {
          display: flex;
          flex-direction: column;
          #nexus {
            margin-left: -50px; // the png image is not centered for some reason
          }
          iframe {
            min-height: 300px;
            margin-top: 30px;
            margin-bottom: 40px;
          }
        }
        > div {
          flex: 1;
        }
      }
    }
    &__fun-games {
      &__image {
        @include omb-breakpoint('phone') {
          display: none;
        }
        &--mobile {
          display: none;
          max-width: 85%;
          margin: 0 auto;
          @include omb-breakpoint('phone') {
            display: block;
          }
        }
      }
    }
    &__footer {
      padding-top: 50px !important;
      &--top {
        @include omb-breakpoint('to-tablet') {
        display: flex;
        flex-direction: column;
        align-items: center;
        > div {
          margin: 10px 0 !important;
          text-align: center;
          display: flex;
          justify-content: center;
          max-width: 100% !important;
          padding: 0;
          right: 0 !important;
        }
        }
      }
    }
  }
}

#btn-jmk {
  border: 2px solid transparent;
  border-image: linear-gradient(
                  90deg,
                  rgb(0, 235, 217),
                  rgba(0, 235, 217, 0.5)
  );
  border-image-slice: 1;
  padding: 14px 16px;
}

.gradient-border {
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, rgb(0, 235, 217), transparent);
  border-image-slice: 1;
  position: relative;
  padding-left: 0px !important;
}

.main-video {
  min-height: 450px;
  @include omb-breakpoint('phone') {
    min-height: 150px;
  }
}
